# Node
node_modules/
# If using npm workspaces, root node_modules (hoisted) will be here.

# Builds
dist/
build/
www/

# Angular/Ionic
.angular/
out-tsc/
www/
# ionic/capacitor build outputs
build/

# Env / secrets
.env
.env.local
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors/IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Prisma
prisma/migrations/
.pnp.*

# test / coverage
coverage/
coverage-final.json
nyc_output/

# Misc
*.log
*.tmp